.wrapper {
  margin-inline: auto;
}

.section-header {
  font-weight: bold;
  max-width: 180px;
  text-align: center;
  margin-top: -37px;
  background-color: var(--background-light);
  padding: 5px;
}

.button-theme-light {
  font-weight: normal;
}

img {
  object-fit: cover; /* This ensures the image retains its aspect ratio */
}

mat-hint {
  font-size: 0.75rem;
}

.date-range-picker {
  min-width: 300px;
}
