<div class="d-flex auto-margins flex-column col-12 col-lg-8 mt-5">
  <h1 class="text-center">New property</h1>
  <form (ngSubmit)="submit()" class="mt-5" [formGroup]="form">
    <mat-form-field class="col-12">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Country</mat-label>
      <input type="text"
             placeholder="Country"
             matInput
             formControlName="country"
             [matAutocomplete]="auto">
      <mat-autocomplete (optionSelected)="onSelectCountry($event.option.value)" #auto="matAutocomplete">
        <mat-option *ngFor="let country of filteredCountries | async" [value]="country">{{country.name}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>City</mat-label>
      <input type="text"
             placeholder="City"
             matInput
             formControlName="city"
             [matAutocomplete]="autoCity">
      <mat-autocomplete (optionSelected)="onSelectCity($event.option.value)" #autoCity="matAutocomplete">
        <mat-option *ngFor="let city of filteredCities | async" [value]="city">{{city.name}}</mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.get('email')?.hasError('invalidCityName')">
        Invalid City Name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Area</mat-label>
      <input matInput type="number" min="1" formControlName="area">
      <span matTextSuffix="">m²</span>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Number of floors</mat-label>
      <input matInput type="number" min="1" formControlName="numOfFloors">
    </mat-form-field>
    <p>Use map to place the pin on desired location</p>
    <div class="d-flex flex-row col-12 justify-content-between">
      <mat-form-field class="me-2 flex-grow-1">
        <mat-label>Latitude</mat-label>
        <input matInput type="number" formControlName="latitude" readonly>
      </mat-form-field>

      <mat-form-field class="ms-2 flex-grow-1">
        <mat-label>Longitude</mat-label>
        <input matInput type="number" formControlName="longitude" readonly>
      </mat-form-field>
    </div>
    <div class="mt-2 col-12 map-wrapper">
      <div id="map"></div>
    </div>

    <div class="mt-4">
      <p>Image*</p>
      <input class="mw-100" type="file" (change)="onFileChange($event)" />
    </div>

    <div *ngIf="imgChangeEvt != undefined" class="col-12 default-border mt-4">
      <image-cropper
        [imageChangedEvent]="imgChangeEvt"
        [maintainAspectRatio]="true"
        [aspectRatio]="3 / 2"
        [resizeToWidth]="600"
        format="png"
        (imageCropped)="cropImg($event)">
      </image-cropper>
    </div>

    <button [disabled]="form.invalid || croppedImage == undefined" class="button-theme w-100 mt-5 mb-5" type="submit">Create</button>
  </form>
</div>
