<div class="main-content d-flex flex-column">
  <h1 class="text-center">{{solarPanelSystem?.name}}</h1>
  <div class="mt-4 wrapper">
    <div>
      <div class="default-border p-4 details">
        <p class="section-header default-border">Details</p>
        <p>device type: {{solarPanelSystem?.type}}</p>
        <p>Number of panels: {{solarPanelSystem?.solarPanels?.length}}</p>
        <p>status: {{solarPanelSystem?.status}}</p>
      </div>
      <div class="default-border p-4 details mt-4">
        <p class="section-header default-border">Controls</p>
        <div class="d-flex flex-row">
          <div class="d-flex flex-column">
            <p style="text-align: center"><b>Is Active: {{solarPanelSystem?.active ? "On" : "Off"}}</b></p>
            <button (click)="switchStatus()" class="button-theme" [ngClass]="{'button-theme-light':solarPanelSystem?.active}" type="button">{{solarPanelSystem?.active ? "Turn Off" : "Turn On"}}</button>
          </div>
        </div>
      </div>
    </div>

    <form [formGroup]="filtersForm" class="mt-4 d-flex flex-row justify-content-start align-items-baseline">
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select formControlName="filter">
          <mat-option value="6">6h</mat-option>
          <mat-option value="12">12h</mat-option>
          <mat-option value="24">1 day</mat-option>
          <mat-option value="168">1 week</mat-option>
          <mat-option value="5040">1 month</mat-option>
          <mat-option value="custom">Custom</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="date-range-picker ms-4">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input  [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button class="button-theme ms-4" (click)="applyFilters()">Apply</button>
    </form>

    <div style="display: block;">
      <canvas baseChart
              [data]="lineChartData"
              [legend]="true"
              [options]="lineChartOptions"
              type="line">
      </canvas>
    </div>

  </div>
</div>
