<div class="default-border wrapper d-flex flex-row auto-margins">
    <div class="map-wrapper">
        <div class="map" [id]="'map-' + property?.id"></div>
    </div>
    <div class="p-4 flex-grow-1">
        <p><b>Owner:</b> {{property?.owner?.name}} {{property?.owner?.surname}}</p>
        <p><b>Owner email:</b> {{property?.owner?.email}}</p>
        <p><b>Country:</b> {{property?.city?.country?.name}}</p>
        <p><b>City:</b> {{property?.city?.name}}</p>
        <p><b>Address:</b> {{property?.address}}</p>
        <p><b>Coordinates:</b> {{property?.latitude}}, {{property?.longitude}}</p>
        <p><b>Area:</b> {{property?.squareMeters}}m²&emsp;<b>Floors:</b> {{property?.numberOfFloors}}</p>
        <div class="w-100 d-flex flex-row">
            <button class="button-theme flex-grow-1 me-2" (click)="approveRequest()">Approve</button>
            <button class="button-theme flex-grow-1 button-theme-light ms-2" (click)="rejectRequest()">Reject</button>
        </div>
    </div>
</div>
