.wrapper{
    max-width: 650px;
    /*width: 600px;*/
    background-color: var(--background-light);
}
.auto-margins{
    margin: 0 auto;
}
.map-wrapper{
    width: 250px;
}
.map{
    height: 100%;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    background: var(--background-dark)!important;
    color: var(--text-light)!important;
}
::ng-deep .mdc-snackbar__label{
    padding: 0!important;
    padding-left: 15px!important;
}
::ng-deep .snack-button{
    background: var(--background-dark);
    color: var(--text-light);
    margin-left: 10px;
    padding: 15px;
    border: 0;
}
::ng-deep .snack-button:hover{
    background: #262524;
}
