.wrapper {
  margin-inline: auto;
}

.section-header {
  font-weight: bold;
  max-width: 180px;
  text-align: center;
  margin-top: -37px;
  background-color: var(--background-light);
  padding: 5px;
}

.button-theme-light {
  font-weight: normal;
}

img {
  object-fit: cover; /* This ensures the image retains its aspect ratio */
}
.table-wrapper{
  max-height: 400px;
  overflow-y: scroll;
}
