<div class="main-content d-flex flex-column">
  <h1 class="text-center">{{gate?.name}}</h1>
  <div class="mt-4 wrapper">
    <div>
      <div class="default-border p-4 details">
        <p class="section-header default-border">Details</p>
        <p>device type: {{gate?.type}}</p>
        <p>power source: {{gate?.powerType}}</p>
        <p>consumption: {{gate?.energyConsumption}}</p>
        <p>status: {{gate?.status}}</p>
      </div>
      <div class="default-border p-4 details mt-4">
        <p class="section-header default-border">Controls</p>
        <div class="d-flex flex-row">
          <div class="d-flex flex-column">
            <p style="text-align: center"><b>status: {{gate?.open ? "Open" : "Closed"}}</b></p>
            <button (click)="openCloseGate()" class="button-theme" [ngClass]="{'button-theme-light':gate?.open}" type="button">{{gate?.open ? "Close" : "Open"}}</button>
          </div>
          <div class="d-flex flex-column ms-5">
            <p><b>public mode: {{gate?.publicMode ? "On" : "Off"}}</b></p>
            <button (click)="switchMode()" class="button-theme" [ngClass]="{'button-theme-light':gate?.publicMode}" type="button">{{gate?.publicMode ? "Turn Off" : "Turn On"}}</button>
          </div>
        </div>
      </div>
    </div>
    <h4 class="mt-5" style="padding: 0; margin: 0;">Device Availability</h4>
    <hr>
    <app-device-availability-form [deviceID]="gate?.id"></app-device-availability-form>
    <h4 class="mt-5" style="padding: 0; margin: 0;">Vehicle Whitelist</h4>
    <hr>
    <div class="d-flex flex-row align-content-center mt-4">
      <mat-form-field style="width: 250px">
        <mat-label>Plate number</mat-label>
        <input matInput [(ngModel)]="plateNumber">
      </mat-form-field>
      <button (click)="addPlateNumberToWhitelist()" mat-mini-fab color="primary" class="mt-2 ms-2">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="d-flex flex-row flex-wrap mw-100">
      <app-vehicle-whitelist-item *ngFor="let plate of gate?.whitelist" (itemDeleted)="removePlateNumber($event)" [plateNumber]="plate"/>
    </div>
    <h4 class="mt-5" style="padding: 0; margin: 0;">Events Table</h4>
    <hr>
    <form [formGroup]="filtersForm" class="mt-4 d-flex flex-row justify-content-start align-items-baseline">
      <mat-form-field class="ms-4">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" required>
          <mat-option value="Automatic">Automatic</mat-option>
          <mat-option value="Manual">Manual</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="ms-4">
        <mat-label>Timeframe</mat-label>
        <mat-select formControlName="filter" required>
          <mat-option value="6">6h</mat-option>
          <mat-option value="12">12h</mat-option>
          <mat-option value="24">1 day</mat-option>
          <mat-option value="168">1 week</mat-option>
          <mat-option value="5040">1 month</mat-option>
          <mat-option value="custom">Custom</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="date-range-picker ms-4">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input  [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button class="button-theme ms-4" (click)="applyFilters()">Apply</button>
    </form>
    <div class="table-wrapper" id="events-table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef> Timestamp </th>
          <td mat-cell *matCellDef="let event"> {{event.timestamp | datePipe}}</td>
        </ng-container>

        <ng-container matColumnDef="event">
          <th mat-header-cell *matHeaderCellDef> Event </th>
          <td mat-cell *matCellDef="let event"> {{event.event.event == "GateOpened" ? "Gate opened" : "Gate closed"}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let event"> {{event.event.inside == null ? null : event.event.inside ? "Leaving" : "Entering"}} </td>
        </ng-container>

        <ng-container matColumnDef="plateNumber">
          <th mat-header-cell *matHeaderCellDef> Plate number </th>
          <td mat-cell *matCellDef="let event"> {{event.event.plateNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="agent">
          <th mat-header-cell *matHeaderCellDef> Agent </th>
          <td mat-cell *matCellDef="let event"> {{event.event.agent}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>
</div>
