<div class="centered-container">
    <div class="verification-container">
        <img src="/assets/logo.png" style="max-width: 70%; height: auto;" alt="Company Logo">
        <div class="verification-message">
            <h2>Email Verification Successful</h2>
            <p>Your email has been successfully verified.</p>
            <p> Thank you for completing the verification process.</p>
            <p class="login-link width" style="margin: 0.5rem;">
                <b>Ready to login? </b> <a href="/login">Login</a>
            </p>
        </div>
    </div>
</div>