<div>
  <h1 class="text-center mb-5">My Properties</h1>
  <div class="row col-12">
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4 mb-md-0 d-flex justify-content-center align-items-center">
      <button (click)="openCreatePropertyPage()" id="add-venue-button" mat-fab>
        <mat-icon fontSet="material-icons-round">add</mat-icon>
      </button>
    </div>
    <div *ngFor="let property of properties" class="col-xl-3 col-lg-4 col-md-6">
      <app-property-card [property]="property"></app-property-card>
    </div>
  </div>
</div>
