<div class="wrapper default-border">
  <img [src]="image" class="mw-100" (click)="openDetails()">
  <div class="property-data d-flex flex-column">
    <div class="venue-header mb-2 justify-content-around d-flex flex-column">
      <div class="flex-grow-1">
        <h2 class="text-center h5 mb-1">{{property?.address}}</h2>
      </div>
      <div class="">
        <p class="text-center mb-0">{{property?.propertyStatus | enumToString: PropertyStatus}}</p>
      </div>
    </div>
    <button class="button-theme" (click)="openDetails()">Details</button>
    <button class="button-theme" (click)="showDevices()">Devices</button>
  </div>
</div>
